:root{
    --goofydesign-color_primary:"#000000";
    --goofydesign-color_secondary:"#FFFFFF",
    --goofydesign-color_bg-main:"#073A55",
    --goofydesign-color_bg-secondary:"#AED3EA";
    --goofydesign-color_tertiary:"#5FA7D4",
    --goofydesign-color_error:"#FF1C1C",
}