:root {
  --goofydesign-color_primary: #1a2124;
  --goofydesign-color_secondary: #aed3ea;
  --goofydesign-color_tertiary: #5fa7d4;
  --goofydesign-color_error: #ff1c1c;
  --goofydesign-color_disable: #d9d9d9;
  --goofydesign-color_bg-main: #1a2124;
  --goofydesign-color_bg-secondary: #ffffff;
}
