:root {
  --goofydesign-color_primary: #000000;
  --goofydesign-color_secondary: #ffffff;
  --goofydesign-color_bg-main: #073a55;
  --goofydesign-color_bg-secondary: #aed3ea;
  --goofydesign-color_tertiary: #5fa7d4;
  --goofydesign-color_error: #ff1c1c;
}
