:root {
  --goofydesign-space_0: 0rem;
  --goofydesign-space_1: 0.25rem;
  --goofydesign-space_2: 0.5rem;
  --goofydesign-space_4: 1rem;
  --goofydesign-space_6: 1.5rem;
  --goofydesign-space_8: 2rem;
  --goofydesign-space_10: 2.5rem;
  --goofydesign-space_12: 3rem;
  --goofydesign-space_14: 3.5rem;
  --goofydesign-space_16: 4rem;
}
